<div class="cart-wrapper">
  <div class="cart-header">
    <div><b>EDIT CART</b></div>
  </div>
  <div ng-if='!cart' class="cart-empty">EMPTY</div>
  <div class="cart-item" ng-repeat='item in cart track by $index'>
    <div class="cart-img" ng-style="{'background-image':'url({{item.img}})'}"></div>
    <div class="cart-product-detail">
      <h3>Product</h3>
      <p><span>{{item.name}}{{copyright}}</span></p>
      <p>{{item.caliber}}</p>
      <p>{{item.modelNumber}}</p>
      <p>{{item.color}}</p>
    </div>
    <div class="cart-price">
      <h3>Price</h3>
      <p>{{item.price | currency}}</p>
    </div>
    <div class="cart-quantity">
      <h3>Quantity</h3>
      <input type="text" ng-model='qNew'placeholder="{{item.quantity}}">
      <button type="button" name="button" ng-click='cartUpdate(qNew,$index)'>UPDATE</button>
    </div>
    <div class="cart-total">
      <h3>Total</h3>
      <p>{{item.total | currency}}</p>
    </div>
    <div class="remove-btn">
      <button class="cart-remove-btn" ng-click='cartRemove($index)' type="button" name="button">REMOVE</button>
    </div>
  </div>
  <div class="sub-total">
    <h3>Sub-Total: </h3> <h3><span>{{subTotal | currency}}</span></h3>
  </div>
</div>
