<div class="home-wrapper">
  <carousel-direct></carousel-direct>
  <span>
    <h1>FREE SHIPPING ON ORDERS OVER $75.00</h1>
  </span>
  <div class="home-products">
    <div class="home-product hand">
        <span>ALL PRODUCTS</span>
        <span class="sub-span">SHOP</span>
      <img src="https://www.magpul.com/Admin/Public/GetImage.ashx?Image=/Files/Files/Images/Homepage/New-homepage/All-prod-720x220.jpg&Format=jpg&Height=220&Crop=5&background=ffffff" alt="">
    </div>
    <div class="home-product hand">
        <span>NEW PRODUCTS</span>
        <span class="sub-span">SEE COLLECTION</span>
      <img src="https://www.magpul.com/Admin/Public/GetImage.ashx?Image=/Files/Files/Images/Homepage/New-homepage/new-prods-720x220.jpg&Format=jpg&Height=220&Crop=5&background=ffffff" alt="">
    </div>
    <div class="home-product hand">
        <span>2016 CATALOG</span>
        <span class="sub-span">DOWNLOAD</span>
      <img src="https://www.magpul.com/Admin/Public/GetImage.ashx?Image=/Files/Files/PDF/Propaganda/2016-Catalog-Web.jpg&Format=jpg&Height=220&Crop=5&background=ffffff" alt="">
    </div>
    <div class="home-product hand">
        <span>M-LOK</span>
        <span class="sub-span">VIEW COLLECTION</span>
      <img src="https://www.magpul.com/Admin/Public/GetImage.ashx?Image=/Files/Files/Images/Homepage/New-homepage/mlok-720x220.jpg&Format=jpg&Height=220&Crop=5&background=ffffff" alt="">
    </div>
    <div class="home-product hand">
        <span>PMAG</span>
        <span class="sub-span">LEARN MORE</span>
      <img src="https://www.magpul.com/Admin/Public/GetImage.ashx?Image=/Files/Files/Images/Homepage/New-homepage/PMAGs-720x220.jpg&Format=jpg&Height=220&Crop=5&background=ffffff" alt="">
    </div>
    <div class="home-product hand">
        <span>MBUS SIGHTS</span>
        <span class="sub-span">VIEW COLLECTION</span>
      <img src="https://www.magpul.com/Admin/Public/GetImage.ashx?Image=/Files/Files/Images/Homepage/New-homepage/sights-720x220.jpg&Format=jpg&Height=220&Crop=5&background=ffffff" alt="">
    </div>
  </div>
  <span>
    <h1>FEATURED VIDEOS</h1>
  </span>
  <div class="home-videos">
    <div class="home-video hand" style="background-image:url('https://www.magpul.com/Admin/Public/GetImage.ashx?Image=/Files/Files/Images/Products/Apparel/MAG753/MAG753-BartonHenley-Header-450x1140.jpg&Format=jpg&Height=220&Crop=5&background=ffffff')">
      <span>2016 FALL APPAREL</span>
    </div>
    <div class="home-video hand" style="background-image:url('https://www.magpul.com/Admin/Public/GetImage.ashx?Image=/Files/Files/Images/Homepage/New-homepage/Glock-720x220.jpg&Format=jpg&Height=220&Crop=5&background=ffffff')">
      <span>GLOCK MAG</span>
    </div>
    <div class="home-video hand" style="background-image: url('https://www.magpul.com/Admin/Public/GetImage.ashx?Image=/Files/Files/Images/Homepage/New-homepage/videos/video-ubr2.jpg&Format=jpg&Height=220&Crop=5&background=ffffff')">
      <span>UBR</span>
    </div>
    <div class="home-video hand" style="background-image: url('https://www.magpul.com/Admin/Public/GetImage.ashx?Image=/Files/Files/Images/Products/Apparel/MAG697/Banana_hero.jpg&Format=jpg&Height=220&Crop=5&background=ffffff')">
      <span>T-SHIRTS</span>
    </div>
  </div>
  <span class="home-footer-spacer"></span>
  <span class="home-footer-img">
    <!-- <img src="https://www.magpul.com/Admin/Public/GetImage.ashx?Image=/Files/Files/Images/Homepage/quote-image.jpg&Width=1810&altFmImage_path=/Files/Files/Images/Products/noImage.png&Format=jpg&Crop=5&Background=ffffff" alt=""> -->
  </span>
</div>
