<div class="menu-bar-wrapper">
<img ui-sref='home' class='menu-logo hand'src="https://www.magpul.com/Admin/Public/GetImage.ashx?Image=/Files/Templates/Designs/Magpul/images/logo.gif&Format=gif&Width=218&Height=45" alt="logo menu bar">
<div class="menu-selection">
    <span class="hand"id="menu-products">PRODUCTS
      <div class="menu-products-drop">
          <ul>
            <b>HIGHLIGHTS</b>
            <li>NEW PRODUCTS</li>
            <li>M-LOK</li>
            <li>CLOSEOUT</li>
          </ul>
          <ul>
            <b>FIREARMS ACCESSORIES</b>
            <li ui-sref='product({category:"FIREARMS ACCESSORIES",subcategory:"PMAG Magazines"})'>PMAG Magazines</li>
            <li>Magazine Enhancements</li>
            <li>Buttstocks</li>
            <li>Buttstock Accessories</li>
            <li>MBUS Sights</li>
            <li>Hand Guards</li>
            <li>Rails And Accessories</li>
            <li>Grips</li>
            <li>Slings And Sling Mounts</li>
            <li>Tools</li>
            <li>Miscellaneous</li>
          </ul>
          <ul>
            <b>APPAREL</b>
            <li>Tops</li>
            <li>Bottoms</li>
            <li>T-Shirts</li>
            <li>Women's</li>
            <li><b>PROPAGANDA</b></li>
            <li>Stickers</li>
            <li>Posters</li>
            <li>Patches</li>
          </ul>
          <ul>
            <b>APPAREL ACCESSORIES</b>
            <li>Gloves</li>
            <li>Belts</li>
            <li>Headwear</li>
            <li><b>ORGANIZATION AND GEAR</b></li>
            <li>DAKA Pouches</li>
            <li>Phone Cases</li>
            <li>Bags</li>
            <li>DAKA Wallet:ID</li>
          </ul>
      </div>
    </span>
    <span class="hand"id="menu-partners">PARTNERS
      <div class="menu-partners-drop">
        <ul>
          <li>FEATURED WHOLESALERS</li>
          <li>FEATURED ONLINE RETAILERS</li>
          <li>FEATURED RETAILERS</li>
          <li>LOCAL GUN SHOPS</li>
        </ul>
      </div>
    </span>
    <span class="hand"id="menu-propaganda">PROPAGANDA</span>
    <span class="hand"id="menu-foundations">FOUNDATIONS</span>
    <span class="hand"id="menu-contact">CONTACT</span>
</div>
<div class="search-profile-cart">
  <div class='ms'>
    <input type="text" class='menu-input' ng-model='menuSearchTxt' placeholder="Search">
    <i class="material-icons hand" ng-click=''>search</i>
  </div>
  <div>
    <i class="material-icons hand shopping">shopping_cart</i>
    <i class="material-icons hand face">face</i>
  </div>
</div>
</div>
