<div class="menu-bar-wrapper">
<img class='menu-logo'src="https://www.magpul.com/Admin/Public/GetImage.ashx?Image=/Files/Templates/Designs/Magpul/images/logo.gif&Format=gif&Width=218&Height=45" alt="logo menu bar">
<div class="menu-selection">
    <span>PRODUCTS</span>
    <span>PARTNERS</span>
    <span>PROPAGANDA</span>
    <span>FOUNDATIONS</span>
    <span>CONTACT</span>
</div>
<div class="search-profile-cart">
<input type="text" class='menu-input' value="Search">
<i class="material-icons">face</i>
<i class="material-icons">face</i>
<i class="material-icons">face</i>
</div>
</div>
