<div class="product-wrapper">
  <div class="product-header">
    <span>HOME>PRODUCTS>{{category}}><span>{{subcategory}}</span></span>
    <div>{{subcategory}}</div>
  </div>
  <img src="https://www.magpul.com/Admin/Public/GetImage.ashx?Image=/Files//Files/Images/Products/Magazines/Magazines2.jpg&Width=1810&altFmImage_path=/Files/Files/Images/Products/noImage.png&Format=jpg&Crop=5&Background=ffffff" alt="">
  <div class="product-filter">
    <div><span>PLATFORMS</span></div><div><span>CALIBER</span></div><div><span>NEW</span></div><div><span>COLOR</span></div><div><span>MORE</span></div>
  </div>
  <span>
    <h1>AK/AKM</h1>
  </span>
  <div class="ak-wrapper">
    <div class="product" ng-repeat='product in products'>
      <div id="prod-img-hover"class="product-img hand" ng-style="{'background-image':'url({{product.mainimg}})'}">
        <span ng-if='product.new'>NEW</span>
      </div>
      <div class='product-info'>
        <p class='product-name'>{{product.name}}</p>
        <p class="product-caliber">{{product.caliber}}</p>
        <p class='product-model'>{{product.modelnumber}}</p>
      </div>
      <span ui-sref='productDetail({id:{{product.id}}})' class="hand">${{product.price}}</span>
    </div>
  </div>
</div>
