$cart-width: 93.6vw;
$cart-bg-color: #FFFFFF;
$cart-gray-text: #7E7E92;
$cart-red-btn: #AD182C;
$cart-black-text: #222222;
$cart-gray-background: #dfdfdf;
.cart-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  .empty-cart{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cart-header{
    // padding-left: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: $cart-width;
    height: 114px;
    border-bottom: 1px solid black;
    div{
      font-weight: 1000;
      font-size: 35px;
      padding-top: 25px;
      color: $cart-black-text;
      font-family: 'Oswald', sans-serif;
      padding-bottom: 15px;
    }
  }
  .cart-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 160px;
    width: $cart-width;
    border-bottom: 1px solid black;
    .cart-img{
      width: 16.67%;
      height: 115px;
      background-color: $cart-gray-background;
      background-position: center;
      background-repeat: no-repeat;
      background-size:contain;
    }
    h3{
      font-weight: 500;
      font-family: 'Oswald', sans-serif;
      color: $cart-gray-text;
      padding-bottom: 5px;
    }
    p{
      font-family: 'Oswald', sans-serif;
      padding-bottom: 2px;
      span{
        color: $cart-red-btn;
        font-family: 'Oswald', sans-serif;
        padding-bottom: 2px;
      }
    }
    .cart-product-detail{
      padding-left: 5px;
      height: 115px;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      // align-items: center;
      width: 16.67%;
    }
    .cart-price{
      height: 115px;
      width: 16.67%;
    }
    .cart-quantity{
      height: 115px;
      width: 16.67%;
      button{
        height: 31px;
        background-color: $cart-red-btn;
        color: $cart-bg-color;
        font-family: 'Oswald', sans-serif;
      }
      input{
        height: 25px;
      }
    }
    .cart-total{
      height: 115px;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: flex-end;
      width: 16.67%;
    }
    .remove-btn{
      height: 115px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      width: 16.67%;
      button{
        height: 31px;
        background-color: $cart-red-btn;
        color: $cart-bg-color;
        font-family: 'Oswald', sans-serif;
      }
    }
  }
}
