@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');
body{
  margin: 0;
  box-sizing: border-box;
}
.hand{
  cursor: pointer;
  cursor: hand;
}
.menu-holder{
  width: 1903px;
  height: 45px;
}
