$bgcolor: #222222;
$textcolor: #FFFFFF;
$selecthover: #DFDFDF;
$selectactive: #AD182C;
$displaynone: none;
.menu-holder{
  width: 1903px;
  height: 45px;
}
.menu-bar-wrapper{
  z-index:3;
  // display: none;
  position: fixed;
  width: 100vw;
  height: 45px;
  background-color: $bgcolor;
  color: $textcolor;
  display: flex;
  justify-content: center;
  // align-items: center;
  .menu-width-wrapper{
    display: flex;
    justify-content: space-between;
    // width: 93.6%;
    width: 93.59vw;
    // border: 1px solid orange;
    height: 100%;
  }
}
.menu-logo-wrapper{
  width: 10%;
  // border: 1px solid red;
  .menu-logo{
    // padding-left: 3.1%;
    // width: 20%;
    max-height: 100%;
  }
}
.menu-selection{
  position: relative;
  font-family: 'Oswald', sans-serif;
  width: 30%;
  height: auto;
  font-size: 120%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // border: 1px solid red;
  span{
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
#menu-products:hover{
  position: relative;
  color: $bgcolor;
  background-color: $selecthover;
  .menu-products-drop{
    display: block;
  }
}
.menu-products-drop{
  // z-index: 20;
  display: none;
  position: absolute;
  top: 45px;
  width: 876px;
  height: auto;
  background-color: $selecthover;
  ul{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    color: $bgcolor;
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    float: left;
    li:hover{
      color:$selectactive;
    }
    li{
      font-size: 14px;
      padding-top: 5px;
    }
  }
}
#menu-partners:hover{
  color: $bgcolor;
  background-color: $selecthover;
  .menu-partners-drop{
    display: block;
  }
}
.menu-partners-drop{
  // z-index: 2;
  display: none;
  position: absolute;
  top: 45px;
  width: 222px;
  height: auto;
  background-color: $selecthover;
  ul{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    color: $bgcolor;
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    float: left;
    li:hover{
      color:$selectactive;
    }
    li{
      margin: 0;
      font-size: 14px;
      padding-top: 5px;
    }
  }
}
#menu-propaganda:hover{
  color: $bgcolor;
  background-color: $selecthover;
}
#menu-foundations:hover{
  color: $bgcolor;
  background-color: $selecthover;
}
#menu-contact:hover{
  color: $bgcolor;
  background-color: $selecthover;
}
.search-profile-cart{
  // border: 1px solid red;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: auto;
  .ms{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // border: 1px solid yellow;
    width: 78%;
    height: 100%;
    i:hover{
      color: #AD182C;
    }
    .menu-input{
      font-family: 'Oswald', sans-serif;
      height: 28px;
      width: 58%;
      color: black;
    }
  }
  .menu-bar-search{
    i:hover{
      color: #AD182C;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: auto;
    height: 100%;
    // border: 1px solid red;
    span{
      position: absolute;
      top: 0%;
      right: 0%;
      font-family: 'Oswald',sans-serif;
      font-size: 70%;
      font-weight: bold;
      padding: 4px;
      padding-left: 4px;
      padding-right: 4px;
      color: #AD182C;
      background-color: gray;
      border-radius: 10px;
      text-align: center;
    }
  }
}
