$bgcolor: #222222;
$textcolor: #FFFFFF;
$selecthover: #DFDFDF;
$selectactive: #AD182C;
$displaynone: none;
.menu-bar-wrapper{
  display: none;
  position: fixed;
  width: 100vw;
  height: 45px;
  background-color: $bgcolor;
  color: $textcolor;
  display: flex;
  justify-content: space-between;
}
.menu-logo{
  padding-left: 62px;
}
.menu-selection{
  font-family: 'Oswald', sans-serif;
  padding-left: 200px;
  padding-right: 270px;
  width: auto;
  height: auto;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  span{
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left:15px;
  }
}
#menu-products:hover{
  color: $bgcolor;
  background-color: $selecthover;
  .menu-products-drop{
    display: block;
  }
}
.menu-products-drop{
  display: none;
  position: absolute;
  top: 45px;
  left: 548px;
  width: 894px;
  height: 380px;
  background-color: $selecthover;
  ul{
    padding-left:10px;
    padding-right: 60px;
    color: $bgcolor;
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    font-size: 15px;
    float: left;
    li:hover{
      color:$selectactive;
    }
    li{
      padding-top: 9px;
    }
  }
}
#menu-partners:hover{
  color: $bgcolor;
  background-color: $selecthover;
  .menu-partners-drop{
    display: block;
  }
}
.menu-partners-drop{
  display: none;
  position: absolute;
  top: 45px;
  left: 657px;
  width: 225px;
  height: 150px;
  background-color: $selecthover;
  ul{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 9px;
    color: $bgcolor;
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    font-size: 14px;
    float: left;
    li:hover{
      color:$selectactive;
    }
    li{
      padding-top: 9px;
    }
  }
}
#menu-propaganda:hover{
  color: $bgcolor;
  background-color: $selecthover;
}
#menu-foundations:hover{
  color: $bgcolor;
  background-color: $selecthover;
}
#menu-contact:hover{
  color: $bgcolor;
  background-color: $selecthover;
}
.search-profile-cart{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 485px;
  height: 100%;
  .face{
    padding-left: 73px;
  }
  .shopping{
    padding-left: 10px;
  }
}
.menu-input{
  font-family: 'Oswald', sans-serif;
  height: 26px;
  width: 252px;
  color: black;
}
