$main-width: 93.6vw;
$bg-color: #FFFFFF;
$light-text: #7E7E92;
$red-text: #B4182C;
$black-text: #222222;
$gray-bg: #DFDFDF;
$product-red: #AD182C;
.product-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  span{
    height: 97px;
    display: flex;
    align-items: center;
    color: $black-text;
  }
  h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 175%;
  }
  .product-header{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: $main-width;
    height: 114px;
    border-bottom: 1px solid black;
    span{
      font-size: 12px;
      font-family: "Oswald", sans-serif;
      color: $light-text;
      span{
        font-family: 'Oswald',sans-serif;
        color: $red-text;
      }
    }
    div{
      font-weight: 700;
      font-size: 35px;
      padding-top: 25px;
      color: $black-text;
      font-family: 'Oswald', sans-serif;
      padding-bottom: 15px;
    }
  }
  img{
    padding-top: 42px;
    padding-bottom: 16px;
  }
  .product-filter{
    width: $main-width;
    height: 43px;
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    div{
      background-color: $gray-bg;
      width: 19.4%;
      height: auto;
      display: flex;
      align-items: center;
      // border: 1px solid red;
      span{
        font-weight: lighter;
        font-family: "Oswald", sans-serif;
        font-size: 13px;
        padding-left: 10px;
      }
    }
  }
  .product-category-wrapper{
    width: $main-width;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // border: 1px solid red;
    .product{
      // width: 24%;
      position: relative;
      width: 423px;
      height: 426px;
      // border: 1px solid blue;
      .product-img{
        position: relative;
        width: auto;
        height: 301px;
        // background-repeat: no-repeat;
        // background-color: $gray-bg;
        background-position: center;
        span{
          display: flex;
          justify-content: center;
          text-align: center;
          width: 116px;
          height: 31px;
          position: absolute;
          top: 60px;
          left: 0;
          -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
          background-color: $product-red;
        }
      }
      .product-info{
        color: #666666;
        width: 100%;
        height: auto;
        padding-top: 32px;
        padding-left: 40px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        .product-name{
          font-family: 'Open Sans',sans-serif;
          font-size: 20px;
          font-weight: 700;
        }
        .product-caliber{
          // padding-top: 11px;
          font-family: 'Open Sans',sans-serif;
          font-size: 14px;
        }
        .product-model{
          // padding-top: 9px;
          font-family: 'Open Sans',sans-serif;
          font-size: 12px;
        }
      }
      span{
        color: $bg-color;
        display: flex;
        justify-content: center;
        text-align: center;
        position: absolute;
        right: 38px;
        bottom: 35px;
        width: 25%;
        height: 36px;
        background-color: $product-red;
        font-family: 'Oswald',sans-serif;
      }
    }
    button{
      color: $bg-color;
      display: flex;
      justify-content: center;
      text-align: center;
      position: absolute;
      right: 38px;
      bottom: 35px;
      width: 25%;
      height: 36px;
      background-color: $product-red;
      font-family: 'Oswald',sans-serif;
    }
  }
}
